/* ----- Home Page -----*/
.has-bg-img {
   background-image: url("https://img.freepik.com/free-psd/beautiful-cat-portrait-isolated_23-2150186004.jpg?w=2000&t=st=1686159153~exp=1686159753~hmac=55cacc987ed5649f31f537a3ee80ee494f1e725719fa01098512919b67fc0e30");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 100vh;
}

.custom-pointer:hover {
   cursor: pointer;
}

.active {
   color: darkred;
}

/* ----- Single Cat Page -----*/
.vertical-center {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.description {
   font-size: 1.2rem;
   line-height: 1;
   margin-bottom: 1rem;
   text-indent: 2rem;
}

.cat-detail {
   font-size: 20px;
}
