* {
   font-family: "quiche-stencil", sans-serif;
}
/* -----About Page -----*/
.about-page {
   min-height: 100vh;
   padding: 100px 0;
}

.about-page.bg-image {
   background-image: url("https://img.freepik.com/free-psd/beautiful-cat-portrait-isolated_23-2150186004.jpg?w=2000&t=st=1686159153~exp=1686159753~hmac=55cacc987ed5649f31f537a3ee80ee494f1e725719fa01098512919b67fc0e30");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed; /* Optional: Ensures the background stays fixed while scrolling */
}

.about-page h1 {
   font-size: 3rem;
   margin-bottom: 20px;
}

.about-page .grid-container {
   max-width: 800px;
   margin: 0 auto;
   color: #000000;
   text-indent: 2rem;
}

.custom-pointer:hover {
   cursor: pointer;
}

.active {
   color: darkred;
}

/* ----- Single Cat Page -----*/
.vertical-center {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.description {
   font-size: 1.2rem;
   line-height: 1;
   margin-bottom: 1rem;
   text-indent: 2rem;
}

.cat-detail {
   font-size: 20px;
}
/* ----- Single Product Page -----*/
.product-detail {
   font-size: 20px;
}

/* ----- Shopping Cart Page -----*/
.custom-card {
   box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

.ui-w-40 {
   width: 75px !important;
   height: auto;
}

.ui-product-color {
   display: inline-block;
   overflow: hidden;
   margin: 0.144em;
   width: 0.875rem;
   height: 0.875rem;
   border-radius: 10rem;
   -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
   vertical-align: middle;
}

/* ----- Order History Page -----*/

.order-history-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40vh;
}
.order-history-container .panel-heading {
   border-bottom: 1px solid #ccc;
   font-size: 22px;
}

.order-history-container .panel-order {
   outline: 2px solid #ccc;
   padding: 10px;
}

.order-history-container .panel-order .row {
   border-bottom: 1px solid #ccc;
}

.order-history-container .panel-order .row:last-child {
   border: 0px;
}

.order-history-container .panel-order .row .col-md-1 {
   text-align: center;
   padding-top: 15px;
}

.order-history-container .panel-order .row .col-md-1 img {
   width: 80px;
   max-height: 80px;
}

.order-history-container .panel-order .row .row {
   border-bottom: 0;
}

.order-history-container .panel-order .row .col-md-11 {
   border-left: 1px solid #ccc;
}

.order-history-container .panel-order .row .row .col-md-12 {
   padding-top: 7px;
   padding-bottom: 7px;
}

.order-history-container .panel-order .row .row .col-md-12:last-child {
   font-size: 11px;
   color: #555;
   background: #efefef;
}

.order-history-container .panel-order .btn-group {
   margin: 0px;
   padding: 0px;
}

.order-history-container .panel-order .panel-body {
   padding-top: 0px;
   padding-bottom: 0px;
}

.order-history-container .panel-order .panel-heading {
   margin-bottom: 0;
}

.search-bar-container {
   width: 100%;
   margin: 0 auto;
   width: 350px;
}

.text-underline-hover {
   text-decoration: none;
}

.text-underline-hover:hover {
   text-decoration: underline;
}

.wishlist-selected {
   color: red !important;
}

/* ----- Edit Profile Page -----*/

.registration-form {
   padding: 50px 0;
}

.registration-form form {
   background-color: #fff;
   max-width: 600px;
   margin: auto;
   padding: 50px 70px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
   text-align: center;
   background-color: #5891ff;
   border-radius: 50%;
   font-size: 40px;
   color: white;
   width: 100px;
   height: 100px;
   margin: auto;
   margin-bottom: 50px;
   line-height: 100px;
}

.registration-form .item {
   border-radius: 20px;
   margin-bottom: 25px;
   padding: 10px 20px;
}

.registration-form .save-changes {
   border-radius: 30px;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: bold;
   background-color: #5791ff;
   border: none;
   color: white;
   margin-top: 20px;
}

.registration-form .social-media {
   max-width: 600px;
   background-color: #fff;
   margin: auto;
   padding: 35px 0;
   text-align: center;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   color: #9fadca;
   border-top: 1px solid #dee9ff;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
   margin-top: 30px;
   margin-bottom: 16px;
}

.registration-form .social-icons a {
   font-size: 23px;
   margin: 0 3px;
   color: #5691ff;
   border: 1px solid;
   border-radius: 50%;
   width: 45px;
   display: inline-block;
   height: 45px;
   text-align: center;
   background-color: #fff;
   line-height: 45px;
}

.registration-form .social-icons a:hover {
   text-decoration: none;
   opacity: 0.6;
}

/* ----- Home Page -----*/

@keyframes rotatingElement {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}

.rotating-Element {
   display: block;
   position: absolute;
   width: 100%;
   height: 80%;
   top: 0;
   left: 0;
   pointer-events: none;
   z-index: 50;
}

.rotating-Element span {
  position: absolute;
  display: block;
  width: 6%;
  pointer-events: visible;
  cursor: pointer;
  transform: translate(-50%, 50%);
  transition: 2s linear;
  opacity: 0.5;
}

.rotating-Element img {
   width: 80%;
   height: auto;
   position: absolute;
   animation: rotatingElement 8s linear infinite;
}

.rotating-Element span:first-child {
  top: 10%; /* Adjust vertical position for the first image */
  left: 10%; /* Adjust horizontal position for the first image */
}

.rotating-Element span:nth-child(2) {
  top: 7%;
  left: 40%;
}
.rotating-Element span:nth-child(3) {
  top: 10%;
  left: 80%;
}

.rotating-Element span:nth-child(4) {
   top: 55%;
   left: 25%;
}
.rotating-Element span:nth-child(5) {
  top: 45%;
  left: 45%;
}
.rotating-Element span:nth-child(6) {
   top: 60%;
   left: 90%;
}
.rotating-Element span:nth-child(7) {
  top: 92%;
  left: 10%;
  filter: brightness(0) invert(1);
}
.rotating-Element span:nth-child(8) {
  top: 92%;
  left: 40%;
  filter: brightness(0) invert(1);
}
.rotating-Element span:last-child {
  top: 95%; /* Adjust vertical position for the second image */
  left: 80%; /* Adjust horizontal position for the second image */
}

/* custom-pagination */

.pagination .page-link {
   background-color: white;
   color: black;
   border-color: white;
}

.pagination .page-link:hover {
   background-color: black;
   color: white;
   border-color: black;
}

.pagination .page-item.disabled .page-link {
   background-color: white;
   color: gray;
   border-color: white;
}

.pagination .page-item.active .page-link {
   background-color: black;
   color: white;
   border-color: black;
}

.heart {
   font-size: 40px;
   margin-top: 7px;
   width: 70px;
   outline: none;
   text-transform: uppercase;
   cursor: pointer;
   font-weight: bold;
   &:hover {
      color: rgb(0, 0, 0);
   }
   &.active {
      color: rgb(0, 0, 0);
      outline-color: black;
   }
}

/* ----- Wishlist Page -----*/
.cart-wrap {
   padding: 40px 0;
   font-family: "Open Sans", sans-serif;
}
.main-heading {
   font-size: 19px;
   margin-bottom: 20px;
}
.table-wishlist table {
   width: 100%;
}
.table-wishlist thead {
   border-bottom: 1px solid #e5e5e5;
   margin-bottom: 5px;
}
.table-wishlist thead tr th {
   padding: 8px 0 18px;
   color: #484848;
   font-size: 15px;
   font-weight: 400;
}
.table-wishlist tr td {
   padding: 25px 0;
   vertical-align: middle;
}
.table-wishlist tr td .img-product {
   width: 72px;
   float: left;
   margin-left: 8px;
   margin-right: 31px;
   line-height: 63px;
}
.table-wishlist tr td .img-product img {
   width: 100%;
}
.table-wishlist tr td .name-product {
   font-size: 15px;
   color: #484848;
   padding-top: 8px;
   line-height: 24px;
   width: 50%;
}
.table-wishlist tr td.price {
   font-weight: 600;
}
.table-wishlist tr td .quanlity {
   position: relative;
}

.total {
   font-size: 24px;
   font-weight: 600;
   color: #8660e9;
}
.display-flex {
   display: flex;
}
.align-center {
   align-items: center;
}
.round-black-btn {
   border-radius: 25px;
   background: #212529;
   color: #fff;
   padding: 5px 20px;
   display: inline-block;
   border: solid 2px #212529;
   transition: all 0.5s ease-in-out 0s;
   cursor: pointer;
   font-size: 14px;
}
.round-black-btn:hover,
.round-black-btn:focus {
   background: transparent;
   color: #212529;
   text-decoration: none;
}
.mb-10 {
   margin-bottom: 10px !important;
}
.mt-30 {
   margin-top: 30px !important;
}
.d-block {
   display: block;
}
.custom-form label {
   font-size: 14px;
   line-height: 14px;
}
.pretty.p-default {
   margin-bottom: 15px;
}
.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
   border-color: #8660e9;
}
.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
   background-color: #8660e9 !important;
}
.main-heading.border-b {
   border-bottom: solid 1px #ededed;
   padding-bottom: 15px;
   margin-bottom: 20px !important;
}
.custom-form .pretty .state label {
   padding-left: 6px;
}
.custom-form .pretty .state label:before {
   top: 1px;
}
.custom-form .pretty .state label:after {
   top: 1px;
}
.custom-form .form-control {
   font-size: 14px;
   height: 38px;
}
.custom-form .form-control:focus {
   box-shadow: none;
}
.custom-form textarea.form-control {
   height: auto;
}
.mt-40 {
   margin-top: 40px !important;
}
.in-stock-box {
   background: #3fff22;
   font-size: 12px;
   text-align: center;
   border-radius: 25px;
   padding: 4px 15px;
   display: inline-block;
   color: black;
}
.trash-icon {
   font-size: 20px;
   color: #212529;
}